{{template "header"}}

<h1>LOGIN</h1> 

<form method="post">
<input type="text" name="username"  placeholder="email"><br>
<input type="password" name="password" placeholder="password "><br>
<input type="submit">
</form>
<h2><a href="/signup">signup</a></h2> or
 
<h2><a href="/loin">login</a></h2>


{{template "footer"}}