<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Document</title>
</head>
<body>
<p>{{.Name}}</p>
<p>{{.Age}}</p>
<p>{{.Someprocessing}}</p>
<p>{{.AgeDbl}}</p>
<p>{{.AgeDbl|.TakesArg}}</p>
</body>
</html>