<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Comparison</title>
</head>
<body>

{{if gt .Score1 .Score2}}
SCORE 1 > SCORE 2
{{end}}

{{if gt .Score1 .Score2}}
SCORE 1 < SCORE 2
{{end}}



</body>
</html>